body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  font-size: 2rem;
  margin: auto;
  max-width: 800px;
  margin-top: 20px;
}

button {
  background-color: green;
  padding: 10px 16px;
  border-radius: 5px;
}

p, li {
  font-size: 1rem;
}